@import url("./atom.css");

:root {
  --basic-font-family: "Cera Pro", sans-serif;
  --basic-font-size: 14px;
  --basic-font-weight: 400;
  --basic-line-height: 1.7;
  --basic-text-color: #727272;
  --container-width: 1200px;
  --basic-space: 1rem;
  --primary-color-hex: #46a358;
  --primary-color-rgb: 70 163 88;
  --white-color-hex: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

html {
  font-family: var(--basic-font-family);
  font-size: var(--basic-font-size);
  font-weight: var(--basic-font-weight);
  line-height: var(--basic-line-height);
  color: var(--basic-text-color);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--basic-space);
  padding-inline-end: var(--basic-space);
  position: relative;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 6px;
}

.btn-green {
  border-color: var(--primary-color-hex);
  background-color: var(--primary-color-hex);
  color: var(--white-color-hex);
}

.btn-icon {
  background: none;
  border: none;
}

/* ----- START HEADER SECTION ----- */

.header {
  padding-block-end: 12px;
}

.header .wrap {
  padding-block-start: 25px;
  padding-block-end: 18px;
  border-bottom: 1px solid rgb(var(--primary-color-rgb) / 0.5);
}

.header .menu {
  gap: 50px;
}

.nav__link {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1.25;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.nav__link-active {
  font-weight: bold;
}
.nav__link-active::after {
  background-color: var(--primary-color-hex);
}

.nav-group {
  gap: 30px;
}

/* ----- FINISH HEADER SECTION ----- */

/* ----- START BANNER SECTION ----- */

.main-banner .wrapper {
  padding-left: 40px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.main-banner .text-wrap {
  max-width: 558px;
}

.main-banner .intro {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
  color: #3d3d3d;
}

.main-banner .main-title {
  font-size: 70px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 5px;
  color: #3d3d3d;
}

.main-banner .description {
  margin-bottom: 44px;
}

.main-banner .banner-plant {
  background-image: url("../images/banner-plant-small.png");
  background-image: image-set(
    url("../images/banner-plant-small.webp") 1x,
    url("../images/banner-plant-small@2x.webp") 2x
  );
  background-repeat: no-repeat;
  background-size: 135px;
  background-position: 50px 300px;
}

/* ----- FINISH BANNER SECTION ----- */
